@{
    ViewData["Title"] = L["PrivacyTitle"].Value;
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-lg-8">
        <p class="lead">@L["PrivacyIntro"]</p>

        <h2 class="h4 mt-4">@L["PrivacySectionFileHandling"]</h2>
        <ul>
            @Html.Raw(L["PrivacyFileHandlingItems"].Value)
        </ul>

        <h2 class="h4 mt-4">@L["PrivacySectionCookies"]</h2>
        <p>@L["PrivacyCookiesBody"]</p>

        <h2 class="h4 mt-4">@L["PrivacySectionLogs"]</h2>
        <p>@L["PrivacyLogsBody"]</p>

        <h2 class="h4 mt-4">@L["PrivacySectionContact"]</h2>
        <p>@L["PrivacyContactBody"]</p>
    </div>
</div>
